@import "./colors.css";
* {
    border: none;
    border-radius: 0;
    font-family: "DroidSansM Nerd Font";
    font-size: 10pt;
    min-height: 0;
}
window#waybar {
    opacity: 1;
    background: @background;
    color: @foreground;
}
#workspaces button {
    padding: 0 0.8em;
    color: @foreground;
    border-top: 0.1em solid @background;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @selection, @background);
}
#workspaces button.active {
    color: @green;
    border-top-color: @green;
}
#workspaces button.urgent {
    color: @red;
}
#workspaces button.empty {
    color: @selection;
}
#workspaces button.special {
    color: @yellow;
}

.module {
    padding: 0 0em;
    margin: 0 0.3em;
    color: @foreground;
    border-top: 0.1em solid @background;
    min-width: 16px;
}


#clock.date { color: @yellow; }
#clock.hour { color: @purple; }
#clock.minute { color: @purple; }
#clock.pm { color: @pink; }
#clock.separator { color: @pink; }

#clock.date,
#clock.hour,
#clock.minute,
#clock.pm,
#clock.separator {
  background-color: transparent;
  min-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#custom-lock { color: @white; }

#custom-drive.on { color: @green; }
#custom-drive.off { color: @white; }
#custom-vpn.off { color: @white; }
#custom-vpn.on { color: @pink; }

#cpu { border-top-color: @white; }
#memory { border-top-color: @white; }
#network { border-top-color: @cyan; }
#network.disconnected { border-top-color: @yellow; }
#network.disabled { border-top-color: @red; }
#backlight { border-top-color: @green; }
#pulseaudio { border-top-color: @purple; }
#pulseaudio.muted { border-top-color: @red; }
#wireplumber { border-top-color: @purple; }
#wireplumber.muted { border-top-color: @red; }
#pulseaudio.bluetooth { color: @cyan; }
#bluetooth { border-top-color: @cyan; }
#bluetooth.disabled { border-top-color: @red; }
#bluetooth.connected { color: @green; }
#battery { border-top-color: @cyan; }
#battery.full { border-top-color: @green; }
#battery.warning { color: @orange; }
#battery.critical { color: @red; }
#power-profiles-daemon.power-saver { border-top-color: @green; }
#power-profiles-daemon.balanced { border-top-color: @cyan; }
#power-profiles-daemon.performance { border-top-color: @orange; }
#custom-system { margin: 0 1em; }